In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('input1.txt',header=None,names=["depth"])

In [5]:
df

      depth
0       195
1       197
2       201
3       204
4       203
...     ...
1995   8544
1996   8549
1997   8562
1998   8563
1999   8562

[2000 rows x 1 columns]

In [6]:
#part1
sum(df.depth > df.depth.shift())

1624

In [7]:
#part2
sum(df.depth.rolling(3).sum() > df.depth.shift().rolling(3).sum())

1653